<!--
# -*- coding: utf-8 -*-
"""
Created on Sun Apr 20 13:28:48 2025

@author: adars
"""
-->

<!DOCTYPE html>
<html>
<head>
  <title>BTWM Green Robo Advisor</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container mt-5">
  <div class="text-center">
    <h1>Welcome to BTWM Green Robo Advisor</h1>
    <p class="lead">Invest sustainably based on your risk profile and goals.</p>
    <a href="/form" class="btn btn-success">Start Your Portfolio</a>
  </div>
</body>
</html>